<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <h1>Aqui van tres input para ingresar el nombre del articulo, el precio de la libra y la cantidad de libras que se ingresan al inventario </h1>
    <h1>Aqui va un boton con el texto "Agregar producto"</h1>
    <h1>Aqui hay una tabla bonita con la informacion de los productos y las acciones de actualizar y eliminar tal como se muestra en el dibujo que hizo hernan</h1>
</body>
</html>